<%= form_with(model: [:admin, @city, @place], local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :coffee_price %>
    <%= form.number_field(:coffee_price, in: 0.0..20.0, step: 0.05) %>
  </div>

  <div class="field">
    <%= form.label :tea_price %>
    <%= form.number_field(:tea_price, in: 0.0..20.0, step: 0.05) %>
  </div>

  <div class="field">
    <%= form.label :beer_price %>
    <%= form.number_field(:beer_price, in: 0.0..20.0, step: 0.05) %>
  </div>

  <div class="field">
    <%= form.label :wifi_password %>
    <%= form.text_field :wifi_password %>
  </div>

  <div class="form-group">
    <%= form.label :place_pics %>
    <%= form.file_field :place_pics, multiple: true %><br />
  </div>

  

  <div class="form-group">
	<%= form.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
