<p id="notice"><%= notice %></p>

<p>
  <%if @city.city_pic.attached?%>
    <%= image_tag @city.city_pic, alt: 'city' %>
  <%else%>
    <p>=== Il n'y a pas encore de photo lié à cette ville ===</p>
  <%end%>
</p>

<p>
<strong>Name:</strong>
<%= @city.name %>
</p>


<%= link_to 'Edit', edit_admin_city_path(@city) %> |
<%= link_to 'Back', admin_cities_path %>

<h1>Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Coffee price</th>
      <th>Tea price</th>
      <th>Beer price</th>
      <th>Wifi password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
    	<%= render "place", place: place %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_city_place_path(@city) %>
