<div class="space"></div>
<h1 class="home_text text-center" ><%= @city.name %></h1>

<p>
  <%if @city.city_pic.attached?%>
    <%= image_tag @city.city_pic, alt: 'city' %>
  <%else%>
    <p>=== Il n'y a pas encore de photo lié à cette ville ===</p>
  <%end%>
</p>

<h1>Places</h1>

<div class="row">
  	<%= render "places/places", places: @places %>
</div>

<br>

<%= link_to 'Edit', edit_admin_city_path(@city) %> |
<%= link_to 'Back', admin_cities_path %>

<br>

<%= link_to 'New Place', new_admin_city_place_path(@city) %>
