<div class="container">

	<div class="row justify-content-center">
    	<div class="col-lg-12 text-center">
			<h1 class="title-city-admin text-center" ><%= @city.name %></h1>
			<%if @city.city_pic.attached?%>
			<%= image_tag @city.city_pic, alt: 'city', class:'img-size-city' %>
			<%else%>
			<p>=== Il n'y a pas encore de photo lié à cette ville ===</p>
			<%end%>

			<%= link_to 'Éditer la ville', edit_admin_city_path(@city), class:'btn-submit' %>
			<%= link_to 'AJOUTER UN LIEU', new_admin_city_place_path(@city), class:'btn-submit' %>	
    	</div>
	</div>

	<div class="row mt-5">
	  	<%= render "places/places", places: @places %>
	</div>

<br>


<%= link_to 'Retour', admin_cities_path , class:'btn-back'%>

<br>



</div>