<p id="notice"><%= notice %></p>

<p>
  <%if @place.place_pics.attached?%>
    <% @place.place_pics.each_with_index do |image, index| %>
      <%= image_tag image %> <br />
    <div>
      <%= link_to  "Delete photo", city_place_place_pic_path(@place.city, @place, index: index), method: :delete, data: { confirm: 'Are you sure?' } %><br />
    </div>
    <% end %>
  <%end%></p>
  
  <%= render 'places/show_places' %>

    <p><%= button_to 'Valider', admin_city_place_places_submission_path(@place.city, @place), method: :put, class:"btn btn-success float-right mt-1" %></p>
    <p><%= link_to 'Refuser', admin_city_place_places_submission_path(@place.city, @place), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger float-right mt-1" %></p>

  <%= link_to 'Edit', edit_admin_city_place_path(@city, @place) %> |
  <%= link_to 'Back', admin_city_places_path(@city) %>


<td><%= render "places/favorite_place_icon", place: @place %></td>
