
<%= form_with(model: model, local: true) do |f| %>

  <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control", placeholder:"Prénom" %>

  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder:"Nom" %> 

  <%= f.text_field :profession,  autofocus: true, autocomplete: "profession", class: "form-control", placeholder:"Profession" %>
  
  <%= f.date_field :birth_date,  autofocus: true, autocomplete: "birth_date", class: "form-control", placeholder:"Date de naissance" %>
  
  <%= f.collection_select :city_id, City.order(:name),:id,:name, {autocomplete: "city_id", include_blank: true}, {class: "form-control"} %>

  <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", placeholder:"Description" %>
  
  <small><i>Ce lien sera disponible aux autres utilisateurs afin de te contacter, ne le fournis pas si tu veux rester incognito !<i></small>
  <%= f.text_field :contact_url, autofocus: true, autocomplete: "contact_url", class: "form-control", placeholder:"Lien LinkedIn" %>

  <% if is_admin %>
    <%= f.check_box :is_admin, autofocus: true, autocomplete: "is_admin" %>    <span>Admin ?</span>
  <% end %>

  <div class="btn-input mb-2">
    <button class="btn-submit btn-block">Sélectionne ta photo !
    <%= f.file_field :user_pic, autocomplete: :user_pic %>
    </button>
  </div>
  <%= link_to  "Supprime ta photo", user_user_pic_path(@user), class: "btn-back btn-block text-center", method: :delete, data: { confirm: 'Es-tu sûr ?' } %>

  <div class="actions mt-5">
    <%= f.submit "EDITER", class: "btn-submit btn-block" %>
  </div>

<% end %>


