<div class="row justify-content-center">
  <div class="col-lg-7 bloc">

    <div class="row title_bloc">
      <div class="col-lg-12 text-center ">
      <% if current_user != @user %>
        <h2>PROFIL n°<%= @user.id %></h2>
      <% else %>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <% end %>       
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-sm-10">

        <div class="card-body">
          <%= render 'users/user_pic', user: @user, class_list:"card-img-top" %>
            <p class="card-text mt-5">
              <p>Description : <%= @user.description %></p>
              <p>Email : <%= @user.email %></p>
              <p>Âge : <%= @user.age %></p>
              <p>Profession : <%= @user.get_profession %></p>
              <p>Ville : <%= @user.get_city %></p>
            </p>
              <div class="space"></div>
              <%if current_user == @user%>
                <%= link_to "Editer mes identifiants de connexion", edit_user_registration_path, class:'btn-submit btn-block' %>
                
                <%= link_to "Editer mon profil", edit_user_path, class:'btn-submit btn-block' %>
              <%end%>
        </div>

      </div>
    </div>

  </div>
</div>
