<div class="row justify-content-center">
  <div class="col-lg-7 bloc">

    <div class="row title_bloc">
      <div class="col-lg-12 text-center ">
      <% if current_user != @user %>
        <h2>PROFIL n°<%= @user.id %></h2>
      <% else %>
        <h2 class="text-orange"><%= @user.first_name %> <%= @user.last_name %></h2>
        <h6><%= @user.age %> ans, <%= @user.get_profession %></h6>
        <h6><%= @user.get_city %></h6>
      <% end %>       
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-lg-10 col-md-10 col-sm-10">

        <div class="card-body">
          <div class="text-center">
            <%= render 'users/user_pic', user: @user, class_list:"profile-img-top" %>
          </div>
            <p class="card-text mt-5 ">
              <%= @user.description %>            
            </p>
              <a href="mailto:<%= @user.email %>" class="btn-back float-right" >Contacter</a>
              <div class="space"></div>
              <%if current_user == @user%>
                <%= link_to "Editer mes identifiants de connexion", edit_user_registration_path, class:'btn-submit btn-block mt-5' %>
                
                <%= link_to "Editer mon profil", edit_user_path, class:'btn-submit btn-block' %>
              <%end%>
        </div>

      </div>
    </div>

  </div>
</div>
