  <div class="col-lg-4">
    <div class="card">
      <%if city.city_pic.attached?%>
        <%= image_tag city.city_pic, alt: 'city', class:"card-img-top" %>
      <%else%>
        <p>=== Il n'y a pas encore de photo lié à cette ville ===</p>
      <%end%>
      <div class="card-body">
        <h4 class="card-title"><%= city.name %></h4>
        <% if current_user != nil %>
                <% if @is_admin %>
                  <%= link_to 'Show', admin_city_places_path(city) %>
                  <%= link_to 'Edit', edit_admin_city_path(city) %>
                  <%= link_to 'Destroy', admin_city_path(city), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to 'New City', new_admin_city_path %>
                <% else %>
                  <%= link_to 'Show', city_places_path(city) %>
                <% end %>
              <% end %>
      </div>
    </div>
  </div>



