<%= form_with(model: [:admin, city], local: true) do |form| %>

    <%= form.text_field :name, class: "form-control", placeholder:"Nom de la ville" %>

    <%= form.number_field :latitude, :step => "0.00000001", class: "form-control" %>

    <%= form.number_field :longitude, :step => "0.00000001", class: "form-control" %>
    
    <div class="btn-input mb-2">
      <button class="btn-submit btn-block">Sélectionner une photo
        <%= form.file_field :city_pic, autocomplete: :city_pic %>
      </button>
    </div>

  <div>
  	<%if @city.city_pic.attached?%>
    	<%= link_to  "Supprimer la photo", admin_city_city_pic_path(@city), class: "btn-back btn-block text-center", method: :delete, data: { confirm: 'Etes-vous sûr ?' } %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "ENVOYER", class: "btn-submit btn-block"%>
  </div>
<% end %>

