<%= form_with(model: [:admin, city], local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.number_field :latitude, :step => "0.00000001" %>
  </div>
  
  <div class="field">
    <%= form.label :longitude %>
    <%= form.number_field :longitude, :step => "0.00000001" %>
  </div>

  <div class="form-group">
    <%= form.label :city_pic %>
    <%= form.file_field :city_pic, autocomplete: :city_pic %><br />
  </div>

  <div>
  	<%if @city.city_pic.attached?%>
    	<%= link_to  "Delete photo", admin_city_city_pic_path(@city), method: :delete, data: { confirm: 'Are you sure?' } %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
