
<div class="container">
	<div class="row">
    
	    <div class="col-lg-12 bloc">

	      <div class="row title_bloc">
	        <div class="col-lg-12 text-center ">
	          <h2>VALIDATION : édition d'un lieux</h2> 
	        </div>
	      </div>

	      <div class="row">
			<% @place_editions.each do |place| %>
				<div class="col-lg-4">	    			    
		            <div class="card">
		              <% if place.place_pics.attached?%>
		                <%= image_tag place.place_pics.first, class:"card-img-top" %>
		              <% end %>
		              <div class="card-body">
		                <h4 class="card-title"><%= place.name %></h4>
		                <p class="card-text"><%= place.address %></p> 
		                <%= render "places/tags_list", tags: place.tags %>
		                <%= link_to " ", admin_place_edition_path(place), class:'stretched-link' %>

		              </div>
		            </div>
		          </div>
		    <% end %>
	      </div>

	    </div>

	</div>
</div>