<%= render 'city_choice_modal' %>

<section class="banner-area">
	<!-- <div class="gradient"></div> -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <div class="banner-content">
			<blockquote class="text-white">Try your place</blockquote> 	
        	<h1 class="home_text">DÉCOUVRE LES MEILLEURS ENDROITS POUR <span id="verb">TRAVAILLER</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'cities/scroll_btn' %>
<div id="city-search-bar"></div>
<div class="container">
	<div class="row mb-5 justify-content-center">
		<div class="col-lg-5 text-center">
			<input id="search" class="form-control text-center" type="text" placeholder="Recherche ta ville" aria-label="Recherche">
			<%= render 'cities/search' %>
		</div>	
	</div>

	<div class="row" id="cities-list">
		<%= render 'cities/cities', cities: @cities %>
	</div>
</div>

<% if !user_signed_in? %>
	<%= render 'cookies_alert' %>
<% end %>