<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<%= month_calendar events: @attendances do |date, attendances| %>
	<%= date %>
	<% attendances.each do |attendance| %>
		<div>
		    <%= link_to attendance.place.name, city_place_path(attendance.place.city, attendance.place) %>
		    <%= link_to user_attendance_path(current_user, attendance), method: :delete do %>
		    	<i class="fas fa-times-circle text-danger"></i>
		    <% end %>
		</div>
	<% end %>
<% end %>



<br>

