<% if @attendances_today.count == 1 %>
      <h6><%= @attendances_today.count %> Tryper travaille ici aujourd'hui !</h6>
    <% elsif @attendances_today.count == 0 %>
      <h6>Aucun Tryper ne travaille encore ici aujourd'hui !</h6>
    <% else %>
      <h6><%= @attendances_today.count %> Trypers travaillent ici aujourd'hui !</h6>
    <% end %></br>
    <p><% @attendances_today.each do |attendance| %> 
      <%if attendance.user.user_pic.attached?%>
        <%= link_to user_path(attendance.user.id) do %>
          <%= image_tag attendance.user.user_pic, class: "rounded-circle img-tryper-place", alt: 'user_pic', title: attendance.user.name %>
        <% end %>
      <%else%>
        <%= link_to user_path(attendance.user.id) do %>
          <%= image_tag "default-avatar.png", class: "rounded-circle img-tryper-place", alt: 'user_pic', title: attendance.user.name %>
        <% end %>
      <%end%>
    <%end%></p></br>
    <span>
    <% if !current_user.has_attendance(DateTime.now.to_date) %>
      <%= link_to user_attendances_path(current_user, date: DateTime.now.to_date, place_id: @place.id, start_date: params[:start_date]), method: :post, remote: true do %>
        <button class="btn-submit">Rejoins le TRY'P !</button>
      <% end %>
    <% end %>
    </span>