<p >Qualité du réseau wifi :
<% 1.upto(5) do |i| %>
	<% if @place.average_rating_wifis >= i %>
		<i id="av-wifi-<%= i %>" class="fas fa-wifi text-teal"></i>
	<% else %>
		<i id="av-wifi-<%= i %>" class="fas fa-wifi text-black-50"></i>
	<% end %>
<% end %>
<span id="av-wifi-num"><%= @place.average_rating_wifis %></span></p>

<p >Niveau de confort :
<% 1.upto(5) do |i| %>
	<% if @place.average_rating_comforts >= i %>
		<i id="av-comfort-<%= i %>" class="fas fa-couch text-brown"></i>
	<% else %>
		<i id="av-comfort-<%= i %>" class="fas fa-couch text-black-50"></i>
	<% end %>
<% end %>
<span id="av-comfort-num"><%= @place.average_rating_comforts %></span></p>

<p >Prises disponibles :
<% 1.upto(5) do |i| %>
	<% if @place.average_rating_outlets >= i %>
		<i id="av-outlets-<%= i %>" class="fas fa-plug text-purple"></i>
	<% else %>
		<i id="av-outlets-<%= i %>" class="fas fa-plug text-black-50"></i>
	<% end %>
<% end %>
<span id="av-outlets-num"><%= @place.average_rating_outlets %></span></p>

<p >Niveau de tranquilité :
<% 1.upto(5) do |i| %>
	<% if @place.average_rating_noise_levels >= i %>
		<i id="av-noise-<%= i %>" class="fas fa-volume-down text-orange"></i>
	<% else %>
		<i id="av-noise-<%= i %>" class="fas fa-volume-down text-black-50"></i>
	<% end %>
<% end %>
<span id="av-noise-num"><%= @place.average_rating_noise_levels %></span></p>