<%= form_with(model: model, local: true) do |form| %>

  <%= form.text_field :name, placeholder:"nom",class:"form-control" %>

  <%= form.text_field :address, placeholder:"adresse", class:"form-control" %>

  <%= form.text_area :description, placeholder:"description", class:"form-control" %>

  <%= form.label :coffee_price, 'Prix du café' %>
  <%= form.number_field(:coffee_price, in: 0.0..20.0, step: 0.05) %>

  <%= form.label :tea_price, 'Prix du thé' %>
  <%= form.number_field(:tea_price, in: 0.0..20.0, step: 0.05) %>

  <%= form.label :beer_price, 'Prix de la bière' %>
  <%= form.number_field(:beer_price, in: 0.0..20.0, step: 0.05) %>

  <%= form.text_field :wifi_password, placeholder:"mot de passe wifi", class:"form-control" %>

  <div class="btn-input mb-3">
    <button class="btn-submit btn-block">Sélectionne un fichier
      <%= form.file_field :place_pics, multiple: true %>
    </button>
  </div>

  <%= render "places/tags_list", tags: Tag.all %>
	<%= form.text_field :all_tags, placeholder: "choisir un ou plusieurs tags" ,  class:"form-control"%>

  <div class="actions mt-5">
    <%= form.submit class:"btn-submit btn-block" %>
  </div>
<% end %>
