

  
      

		
		    	
		    
<div class="card">
	<%if place.place_pics.attached?%>
		<%= image_tag place.place_pics.first, class:"card-img-top" %>
	<% end %>
	<div class="card-body">
		<h4 class="card-title"><%= place.name %></h4>
		<p class="card-text"><%= place.address %></p>
		<%= link_to 'Voir le lieu', city_place_path(place.city, place), class:'btn-primary' %>
		<%= render "places/favorite_place_icon", place: place %>
	</div>
</div>
			


