<div class="col-lg-4">	    			    
	<div class="card">
		<%if place.place_pics.attached?%>
			<%= image_tag place.place_pics.first, class:"card-img-top" %>
		<% else %>
			<p>Veuillez ajouter une photo</p>	
		<% end %>
		<div class="card-body">
			<h5 class="card-title"><%= place.name %></h5>
			<p class="card-text"><%= place.address %></p>
			<% if @is_admin %>
				<%= link_to 'Voir', admin_city_place_path(place.city, place) %>
				<%= link_to 'Éditer', edit_admin_city_place_path(place.city, place) %>
				<%= link_to 'Supprimer', admin_city_place_path(place.city, place), method: :delete, data: { confirm: 'Es-tu sûr ?' } %>
			<% else %>
				<%= link_to '', city_place_path(place.city, place), class:'btn-primary, stretched-link' %>
			<% end %>

			<%= render "places/tags_list", tags: place.tags %>
		</div>
		<div class="position_favorite">
			<div id="place-div-<%=place.id%>" class="favorite">
				<%= render "places/favorite_place_icon", place: place %>
			</div>
		</div>	
	</div>	
</div>



