<tr>
	<td><%= place.name %></td>
	<td><%= place.address %></td>
	<td><%= place.description %></td>
	<td><%= place.coffee_price %></td>
	<td><%= place.tea_price %></td>
	<td><%= place.beer_price %></td>
	<td><%= place.wifi_password %></td>
	<td><%= link_to 'Show', city_place_path(@city, place) %></td>
	<td><%= link_to 'Edit', edit_city_place_path(@city, place) %></td>
	<td><%= link_to 'Destroy', city_place_path(@city, place), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>