
<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="card-title"><%= @place.name %></h1></br>
    <a href="note" data-toggle="modal" data-target="#note">
      <h6><%= render "places/average_rating", place: @place %></h6>
    </a><br>
    <div id="trypers_today">
	    <%= render "places/attendance_trypers" %>
	</div>
  </div>
</div>
<div class="row mt-5 mb-5"> 
  <div class="col-lg-8"> 
    <p><%= render "places/tags_list", tags: @place.tags %></p>  
    <p><%= @place.description %></p>
    <p class="text-center mt-5 mb-5">
	   	<% if @place.is_open? %>
	   		<span class="badge badge-success">Ouvert</span>
	   	<% end %>
	   	<% if @place.is_closed? %>
	   		<span class="badge badge-danger">Fermé</span>
	   	<% end %>
   </p>
   <p class="text-center mt-5 mb-5">
    <% @place.opening_hours.sort_by{ |e| e.order_day }.each do |hour| %>
      <%= hour.day %>: 
      <% if hour.closed?%>
        Fermé
      <%else%>
        <%= hour.open.to_formatted_s(:time) %> - <%= hour.close.to_formatted_s(:time) %><br>
      <%end%>
    <%end%>
      <div class="space"></div>
      
      <% if !@is_admin %>
	      <h4 class="text-center">PRÉSENCE</h4>
	      <p class="text-center">Indique aux autres utilisateurs les jours où tu seras présent dans ce lieu.</p>
	      <br><br>
        <div id="events_calendar">
	        <%= render partial: "places/calendar", locals: {events: @attendances} %>
	      </div> 
      <% end %> 
  </div>

  <div class="col-lg-4">   
    <div id="map_place" class="container"></div>
    <br>
    <p class="text-center"><%= @place.address %></p>
    
    <aside class="mt-5 text-center">
      <p><strong>PARTICULARITÉS</strong>
      <p><strong>Prix du café : </strong></br><%= @place.coffee_price %> €</p>
      <p><strong>Prix du thé : </strong></br><%= @place.tea_price %> €</p>
      <p><strong>Prix de la bière : </strong></br><%= @place.beer_price %> €</p>
      <p><strong>Identifiant WIFI : </strong></br><%= @place.wifi_identification %></p>
      <p><strong>Mot de passe WIFI : </strong></br><%= @place.wifi_password %></p>
    </aside></br> 
    
    <aside>
      <p class="text-center"><strong>EVALUATION GÉNÉRALE</strong></p>
      <a href="note" data-toggle="modal" data-target="#note">
         <%= render 'places/average_rating_others' %></p>
      </a>
    </aside>
  </div>
</div>

<div class="modal fade" id="note">
  <div class="modal-dialog  modal-dialog-centered modal-md">

    <div class="modal-content modal-dialog modal-md">


        <div class="row justify-content-center mt-5">
          <div class="col-lg-12 text-center">
            <h2 id="titre">Mes évaluations </h2>
          </div>
        </div>
        
        <div class="row justify-content-center">
          <div class="modal-body col-lg-6 text-center">
            <%= render "places/my_rating", place: @place %>
          </div> 
        </div> 

      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <button class="btn text-orange" data-dismiss="modal"><i class="fas fa-times-circle fa-3x"></i></button>
          </div>
          
        </div>
      </div>


      
    </div>
  </div>
</div>