

<h1 class="card-title"><%= @place.name %></h1>

<h4><%= @place.address %></h4>
<p><strong>Description : </strong><%= @place.description %></p>
<br> <br>
<div class="row">
  <div class="col-lg-3">
    <p><strong>Prix du café : </strong><%= @place.coffee_price %></p>

    <p>
      <strong>Prix du thé : </strong>
      <%= @place.tea_price %>
    </p>

    <p>
      <strong>Prix d'une bière : </strong>
      <%= @place.beer_price %>
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      <strong>Mot de passe du réseau WIFI : </strong>
      <%= @place.wifi_password %>
    </p>
  </div>
 </div> 