<p id="notice"><%= notice %></p>


<div class="space"></div>
<h1 class="home_text text-center" ><%= @city.name %></h1>

<%= link_to 'Back', cities_path %>

<div class="row">
  	<%= render "places/places", places: @places %>
</div>

<br>

<%= link_to 'New Place', new_city_place_path(@city) %>
