<div class="space"></div>
<div class="row justify-content-center">
	<div class="col-lg-8">
		<div class="card">
			<%if @place.place_pics.attached?%>
			<% @place.place_pics.each do |image| %>
			  <%= image_tag image, class:"card-img-top"%> <br />
			<% end %>
			<%else%>
			<p>=== Il n'y a pas encore de photo lié à cet endroit ===</p>
			<%end%>
		  	<div class="card-body">
				<%= render 'show_places' %>

				<p><%= render "places/tags_list", tags: @place.tags %></p>
				<br><br>
				
			</div>
			<div class="position_favorite">
			<%= render "favorite_place_icon", place: @place %>
			</div>
		</div>

		<%= link_to 'Update', new_city_place_place_edition_path(@city, @place), class:'btn-back' %>
		<%= link_to 'Back', city_places_path(@city), class:'btn-back' %>
	</div>
</div>



