<div class="space"></div>
<div class="row justify-content-center">
	<div class="col-lg-8">
		<%= link_to 'Back', city_places_path(@city), class:'btn-back' %>
		<div class="card mt-5">
			<%if @place.place_pics.attached?%>
				<% @place.place_pics.each do |image| %>
				  <%= image_tag image, class:"card-img-top"%>
				<% end %>
			<%else%>
			<p>=== Il n'y a pas encore de photo lié à cet endroit ===</p>
			<%end%>

		  	<div class="card-body">
				<%= render 'show_places' %>
				<p><%= render "places/tags_list", tags: @place.tags %></p>
				<%= link_to 'Éditer', new_city_place_place_edition_path(@city, @place), class:'btn-submit btn-block' %>				
			</div>
			<div class="position_favorite">
				<%= render "favorite_place_icon", place: @place %>
			</div>
		</div>
		<div class="space"></div>

		<%= month_calendar events: @attendances do |date, attendances| %>
		  <%= date %>
		  <% attendances.each do |attendance| %>
		    <div>
		    	<%= link_to attendance.user do %>
		      <%= render 'users/user_pic', user: attendance.user, class_list:"h-25 w-25" %>
		      <% end %>
		      <% if attendance.user == current_user %>
			    <%= link_to user_attendance_path(current_user, attendance, date: date, place_id: @place.id), method: :delete do %>
			    	<i class="fas fa-times-circle text-danger"></i>
			    <% end %>
		      <% end %>
		    </div>
		  <% end %>
		  <% if !current_user.has_attendance(date) %>
		  	<%= link_to user_attendances_path(current_user, date: date, place_id: @place.id), method: :post do %>
			   	<i class="fas fa-plus-circle text-success"></i>
			<% end %>
		  <% end %>
		<% end %>
	</div>
</div>



