<div class="space"></div>
<div class="row justify-content-center">
	<div class="col-lg-8">
		<%= link_to 'Back', city_places_path(@city), class:'btn-back' %>
		<div class="card mt-5">
			<%if @place.place_pics.attached?%>
				<% @place.place_pics.each do |image| %>
				  <%= image_tag image, class:"card-img-top"%>
				<% end %>
			<%else%>
			<p>=== Il n'y a pas encore de photo lié à cet endroit ===</p>
			<%end%>

		  	<div class="card-body">
				<%= render 'show_places' %>
				<p><%= render "places/tags_list", tags: @place.tags %></p>
				<%= link_to 'Éditer', new_city_place_place_edition_path(@city, @place), class:'btn-submit btn-block' %>				
			</div>
			<div id="place-div-<%=@place.id%>" class="position_favorite">
				<%= render "favorite_place_icon", place: @place %>
			</div>
		</div>
		<div class="space"></div>

		<div id="events_calendar">
		  <%= render partial: "calendar", locals: {events: @attendances} %>
		</div>


		
	</div>
</div>



