<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Coffee price:</strong>
  <%= @place.coffee_price %>
</p>

<p>
  <strong>Tea price:</strong>
  <%= @place.tea_price %>
</p>

<p>
  <strong>Beer price:</strong>
  <%= @place.beer_price %>
</p>

<p>
  <strong>Wifi password:</strong>
  <%= @place.wifi_password %>
</p>

<%= link_to 'Edit', edit_city_place_path(@city, @place) %> |
<%= link_to 'Back', city_places_path(@city) %>
