
<div class="container">
	<div class="space"></div>
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<%= link_to 'Back', city_places_path(@city), class:'btn-back' %>
			<div class="card mt-5">
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
				<% count = 1 %>
				<%if @place.place_pics.attached?%>
					<% @place.place_pics.each do |pic| %>
						<div class="mySlides">
							<%= image_tag pic, class:"card-img-top", style:"width:100%" %>
						</div>
						<% count += 1 %>
					<% end %>
				<%else%>
					<p>=== Il n'y a pas encore de photo lié à cet endroit ===</p>
				<%end%>

			  	<div class="card-body">
					<%= render 'show_places' %>
					<p><%= render "places/tags_list", tags: @place.tags %></p>
					<%= link_to 'Éditer', new_city_place_place_edition_path(@city, @place), class:'btn-submit btn-block' %>				
				</div>

				<div id="place-div-<%=@place.id%>" class="position_favorite">
					<%= render "favorite_place_icon", place: @place %>
				</div>
			</div>

			<div class="space"></div>

			<div id="events_calendar">
			  <%= render partial: "calendar", locals: {events: @attendances} %>
			</div>	

		</div>
	</div>
</div>	

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
</script>

