
   <nav class="navbar navbar-expand-lg mt-5"  id="navbar">
    <a class="navbar-brand" href="#">WEJOIN</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

<!--     <div class="container"> -->
        <div class="collapse navbar-collapse offset"  id="navbarSupportedContent1">
          <ul class="nav navbar-nav ml-auto">

            <li class="nav-item"><%= link_to "EXPLORER", cities_path, class: "nav-link nav-item btn-primary" %></li>
            <li class="nav-item"><%= link_to "BLOG", cities_path, class: "nav-link nav-item btn-primary" %></li>

              <% if !user_signed_in? %>
                <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONNEXION</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to "S'INSCRIRE", new_user_registration_path, class: "nav-link  btn-primary" %></li>
                  <li class="nav-item"><%= link_to "SE CONNECTER", new_user_session_path, class: "nav-link btn-primary" %></li>
                </ul>
                </li>
              <% else %>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROFIL / DÉCONNEXION</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><%= link_to "Mon Profil", user_path(current_user.id), class: "nav-link btn btn-primary" %></li>
                  <li class="nav-item"><%= link_to "Mes lieux favoris", user_favorites_path(current_user), class: "nav-link btn btn-primary" %></li>
                  <li class="nav-item"><%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              <% end %>
              <li class="nav-item"><%= link_to "AJOUTER UN LIEU", cities_path, class: "nav-link nav-item btn-primary" %></li>
          </ul>
        </div>      
      <!-- </div> -->
    </nav>
